<!-- Footer -->
<footer>

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row" style="background-color: #f5d3d3; margin-top: 30px;">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">WOMEN</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Indianwear</a>
            </li>
            <li>
              <a href="#!">Westernwear</a>
            </li>
            <li>
              <a href="#">Bags</a>
            </li>
            <li>
              <a href="#">Footwear</a>
            </li>
            <li>
                <a href="#!">Jewellery</a>
              </li>
              <li>
                <a href="#!">Lingerie</a>
              </li>
              <li>
                <a href="#!">Sportswear</a>
              </li>
              <li>
                <a href="#!">Sleep & Lounge</a>
              </li>
              <li>
                <a href="#!">Watches</a>
              </li>
              <li>
                <a href="#!">Fashion Accessories</a>
              </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">MEN</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!">Topwear</a>
              </li>
              <li>
                <a href="#!">Bottomwear</a>
              </li>
              <li>
                <a href="#!">Ethnicwear</a>
              </li>
              <li>
                <a href="#!">Footwear</a>
              </li>
              <li>
                <a href="#!">Accessories</a>
              </li>
              <li>
                <a href="#!">Innerwear & Sleepwear</a>
              </li>
              <li>
                <a href="#!">Watches</a>
              </li>
              <li>
                <a href="#!">Athleisure</a>
              </li>
              <li>
                <a href="#!">Athleisure</a>
              </li>
              <li>
                <a href="#!">Sports & Fitness</a>
              </li>
            </ul>
    
          </div>
          <!-- Grid column -->
    
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">KIDS</h5>
    
            <ul class="list-unstyled">
                <li>
                    <a href="#!">Indianwear</a>
                  </li>
                  <li>
                    <a href="#!">Westernwear</a>
                  </li>
                  <li>
                    <a href="#!">Footwear</a>
                  </li>
                  <li>
                    <a href="#!">Jewellery</a>
                  </li>
                  <li>
                    <a href="#!">Jewellery</a>
                  </li>
                  <li>
                    <a href="#!">Feeding</a>
                  </li>
              <li>
                <a href="#!">Sportswear</a>
              </li>
              <li>
                <a href="#!">Sportswear</a>
              </li>
              <li>
                <a href="#!">Sleep & Lounge</a>
              </li>
              <li>
                <a href="#!">Accessories</a>
              </li>
            </ul>
    
          </div>
          <!-- Grid column -->
    
          <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Luxe</h5>
  
          <ul class="list-unstyled">
            <li>
                <a href="#!">Accessories</a>
              </li>
              <li>
                <a href="#!">Toys & Games</a>
              </li>
              <li>
                <a href="#!">Innerwear</a>
              </li>
              <li>
                <a href="#!">Luxury Ethnic Wear</a>
              </li>
              <li>
                <a href="#!">Luxury Westernwear</a>
              </li>
              <li>
                <a href="#!">Luxury Footwear</a>
              </li>
            <li>
              <a href="#!">Luxury Bags</a>
            </li>
            <li>
              <a href="#!">Luxury Accessories</a>
            </li>
            <li>
              <a href="#!">Luxury Watches </a>
            </li>
            <li>
              <a href="#!">Luxury Home</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">TOP BRANDS</h5>
  
          <ul class="list-unstyled">
            <li>
                <a href="#!">Luxury Jewellery</a>
              </li>
              <li>
                <a href="#!">Summer Collection</a>
              </li>
              <li>
                <a href="#!">Luxury Dresses</a>
              </li>
              <li>
                <a href="#!">W</a>
              </li>
              <li>
                <a href="#!">Boat</a>
              </li>
              <li>
                <a href="#!">Puma</a>
              </li>
            <li>
              <a href="#!">Giva</a>
            </li>
            <li>
              <a href="#!">Campus</a>
            </li>
            <li>
              <a href="#!">Clovia</a>
            </li>
            <li>
              <a href="#!">Only</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">HOUSE OF FASHION</h5>
  
          <ul class="list-unstyled">
            <li>
                <a href="#!">Red Tape</a>
              </li>
              <li>
                <a href="#!">Masaba Gupta</a>
              </li>
              <li>
                <a href="#!">Forever 21</a>
              </li>
              <li>
                <a href="#!">Twenty Dresses By Fashion</a>
              </li>
              <li>
                <a href="#!">RSVP by Fashion</a>
              </li>
              <li>
                <a href="#!">Nykd by Fashion</a>
              </li>
            <li>
              <a href="#!">Gajra Gang by Fashion</a>
            </li>
            <li>
              <a href="#!">Pipa Bella By Fashion</a>
            </li>
            <li>
              <a href="#!">Likha by Fashionn</a>
            </li>
            <li>
              <a href="#!">IYKYK</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
    <div class="footer-copyright text-center py-3" style="background-color: #FD7685;">© 2020 Copyright:
      <a href="/"> MDBootstrap.com</a>
    </div>
  
  </footer>
  <!-- Footer -->
