<div class="container-fluid">
  <div class="row offbrand_row">
    <div class="col-md-12">
      <a href="#">
        <img class="offbrand" src="assets/Clearance_Sale.gif" alt="">
      </a>
    </div>
  </div>
  <div class="row offbrand_row">
    <div class="col-md-12">
      <a href="#">
        <img class="offbrand" src="assets/Gifttingsideas.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="col-md-4">
      <a href="#">
        <img class="charcter_shop" src="assets/Talk_to_furniture_expert.jpg" alt="">
      </a>
    </div>
    <div class="col-md-4">
      <a href="#">
        <img class="charcter_shop" src="assets/Find_product_at_stores.jpg" alt="">
      </a>
    </div>
    <div class="col-md-4">
      <a href="#">
        <img class="charcter_shop" src="assets/Pay_in_easy_Emi.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row spotlight_heading_row">
    <a href="#">
      <img style="width: 100%;" src="assets/express_shipping_img.webp" alt="">
    </a>
  </div>
  <div class="row charcter_shop_row">
    <div class="type_of_product">Irresistible Deals</div>
    <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/Irresistible_Deals01.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/Irresistible_Deals02.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/Irresistible_Deals03.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/Irresistible_Deals04.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/Irresistible_Deals05.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/Irresistible_Deals06.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/Irresistible_Deals07.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/Irresistible_Deals08.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="type_of_product">Deals Of The Week</div>
    <div class="col-md-6">
      <a href="#">
        <img class="charcter_shop" src="assets/Deals_Of_The_Week01.jpg" alt="">
      </a>
    </div>
    <div class="col-md-6">
      <a href="#">
        <img class="charcter_shop" src="assets/Deals_Of_The_Week02.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="type_of_product">Get The Look</div>
    <div class="col-md-12">
      <a href="#">
        <img class="charcter_shop" src="assets/Get_The_Look.gif" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="col-md-3 Max_Style_Min_Price_left">
      <a href="#">
        <img class="charcter_shop" src="assets/Get_The_Look01.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_right">
      <a href="#">
        <img class="charcter_shop" src="assets/Get_The_Look02.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_left">
      <a href="#">
        <img class="charcter_shop" src="assets/Get_The_Look03.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_right">
      <a href="#">
        <img class="charcter_shop" src="assets/Get_The_Look04.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="type_of_product">FashionEdit</div>
    <div class="col-md-12">
      <a href="#">
        <img class="charcter_shop" src="assets/FashionEdit.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="col-md-3 Max_Style_Min_Price_left">
      <a href="#">
        <img class="charcter_shop" src="assets/FashionEdit01.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_right">
      <a href="#">
        <img class="charcter_shop" src="assets/FashionEdit02.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_left">
      <a href="#">
        <img class="charcter_shop" src="assets/FashionEdit03.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_right">
      <a href="#">
        <img class="charcter_shop" src="assets/FashionEdit04.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="type_of_product">Work Of Art</div>
    <div class="col-md-12">
      <a href="#">
        <img class="charcter_shop" src="assets/Work_Of_Art.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="col-md-3 Max_Style_Min_Price_left">
      <a href="#">
        <img class="charcter_shop" src="assets/Work_Of_Art01.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_right">
      <a href="#">
        <img class="charcter_shop" src="assets/Work_Of_Art02.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_left">
      <a href="#">
        <img class="charcter_shop" src="assets/Work_Of_Art03.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_right">
      <a href="#">
        <img class="charcter_shop" src="assets/Work_Of_Art04.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="type_of_product">Lets Garden</div>
    <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/LetsGarden01.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/LetsGarden02.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/LetsGarden03.jpg" alt="">
      </a>
    </div>
     <div class="col-md-3">
      <a href="#">
        <img class="charcter_shop" src="assets/LetsGarden04.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="type_of_product">Top Selling Brand</div>
    <div class="col-md-12 Max_Style_Min_Price_left">
      <a href="#">
        <img class="charcter_shop" src="assets/Top_Selling_Brand.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="type_of_product">Livingroom</div>
    <div class="col-md-12">
      <a href="#">
        <img class="charcter_shop" src="assets/Livingroom.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="col-md-3 Max_Style_Min_Price_left">
      <a href="#">
        <img class="charcter_shop" src="assets/Livingroom01.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_right">
      <a href="#">
        <img class="charcter_shop" src="assets/Livingroom02.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_left">
      <a href="#">
        <img class="charcter_shop" src="assets/Livingroom03.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_right">
      <a href="#">
        <img class="charcter_shop" src="assets/Livingroom04.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="type_of_product">Diningroom</div>
    <div class="col-md-12">
      <a href="#">
        <img class="charcter_shop" src="assets/Diningroom.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row charcter_shop_row">
    <div class="col-md-3 Max_Style_Min_Price_left">
      <a href="#">
        <img class="charcter_shop" src="assets/Diningroom01.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_right">
      <a href="#">
        <img class="charcter_shop" src="assets/Diningroom02.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_left">
      <a href="#">
        <img class="charcter_shop" src="assets/Diningroom03.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 Max_Style_Min_Price_right">
      <a href="#">
        <img class="charcter_shop" src="assets/Diningroom04.jpg" alt="">
      </a>
    </div>
  </div>
</div>