<div class="container-fluid main_container">
    <div class="row">
      <div class="col-md-3 FILTERS_div_main">
        <div class="FILTERS_div">
          <span class="FILTERS_Text">FILTERS</span>
          <span><button class="FILTERS_clear">Clear all</button></span>
        </div>
        <hr>
        <label for="price">Price</label><br>
        <input class="slider" type="range" min="1" max="100" value="50">
        <div class="minmaxdiv">
          <div>
            <label for="min">minimum</label><br>
            <input class="input_price" type="number" placeholder="rs.300">
          </div>
          <div>
            <label for="min">maxmum</label><br>
            <input class="input_price" type="number" placeholder="rs.1900">
          </div>
        </div>
        <hr>
        <div class="FILTERS_div">
          <span class="FILTERS_Text">Color</span>
          <span>
            <select class="selectfitter">
              <option value="1"></option>
              <option value="2">Klaus</option>
            </select></span>
        </div>
        <hr>
        <div class="FILTERS_div">
          <span class="FILTERS_Text">Type</span>
          <span><select class="selectfitter">
              <option value="1"></option>
              <option value="2">Klaus</option>
            </select></span>
        </div>
        <hr>
        <div class="FILTERS_div">
          <span class="FILTERS_Text">Style</span>
          <span>
            <select class="selectfitter">
              <option value="1"></option>
              <option value="2">Klaus</option>
            </select></span>
        </div>
        <hr>
        <div class="FILTERS_div">
          <span class="FILTERS_Text">Fit</span>
          <span><select class="selectfitter">
              <option value="1"></option>
              <option value="2">Klaus</option>
            </select></span>
        </div>
        <hr>
        <div class="FILTERS_div">
          <span class="FILTERS_Text">Design</span>
          <span><select class="selectfitter">
              <option value="1"></option>
              <option value="2">Klaus</option>
            </select></span>
        </div>
        <hr>
        <div class="FILTERS_div">
          <span class="FILTERS_Text">Size</span>
          <span><select class="selectfitter">
              <option value="1"></option>
              <option value="2">Klaus</option>
            </select></span>
        </div>
        <hr>
      </div>
      <div class="col-md-9">
        <nav class="navbar navbar-expand-lg pageLocation">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="#">Home></a>
            <a class="nav-link" href="#">Women></a>
            <a class="nav-link" href="#">Bra & Sport </a>
          </div>
        </nav>
        <div class="available_product_nav">
          <div class="available_product"><b>Nykd by Fshop</b>1000 product</div>
          <div>SORT BY <select name="selectedItem">
              <option value="1">Marie</option>
              <option value="2">Klaus</option>
            </select></div>
        </div>
        <div class="row product_row">
          <div class="col-md-3">
            <div class="card" style="width: 100%;">
              <div id="carouselExampleControls01" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/vykd01.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd02.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd03.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd04.avif" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls01" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls01" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <a routerLink="/productdetails" style="text-decoration: none;">
              <div class="card-body">
                <h5 class="card-title">₹1699</h5>
                <p class="card-text">Padded Sexy Lace Bra Navy Blue NYB090</p>
              </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 100%;">
              <div id="carouselExampleControls02" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/vykd05.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd06.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd07.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd08.avif" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls02" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls02" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">₹889</h5>
                <p class="card-text">Iconic Low Back Party Bra - NYB252 - Pink</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 100%;">
              <div id="carouselExampleControls03" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/vykd09.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd10.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd11.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd12.avif" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls03" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls03" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">₹1499</h5>
                <p class="card-text">Cozy FleeceZippered Jacket -NYLE704-Red</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 100%;">
              <div id="carouselExampleControls04" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/vykd13.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd14.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd15.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd16.avif" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls04" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls04" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">₹1399</h5>
                <p class="card-text">Cozy Fleece Hoodie Sweatshirt -NYLE702-Jet</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row product_row">
          <div class="col-md-3">
            <div class="card" style="width: 100%;">
              <div id="carouselExampleControls05" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/vykd17.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd18.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd19.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd20.avif" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls05" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls05" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">₹999</h5>
                <p class="card-text">The Sweetheart Neckline Wireless Bra - Carrot</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 100%;">
              <div id="carouselExampleControls06" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/vykd21.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd22.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd23.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd24.avif" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls06" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls06" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">₹1099</h5>
                <p class="card-text">The Sweetheart Neckline Wireless Bra-Light Blue</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 100%;">
              <div id="carouselExampleControls07" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/vykd25.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd26.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd27.avif" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls07" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls07" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">₹399</h5>
                <p class="card-text">Soft Cup Slip-On Bra With Full Coverage-Brown</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 100%;">
              <div id="carouselExampleControls08" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/vykd28.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd29.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd30.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item ">
                    <img src="assets/vykd31.avif" class="d-block w-100" alt="...">
                  </div> 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls08" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls08" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">₹399</h5>
                <p class="card-text">Soft Cup Slip-On Bra With Full Coverage-Black</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row product_row">
            <div class="col-md-3">
                <div class="card" style="width: 100%;">
                  <div id="carouselExampleControls10" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="assets/vykd32.avif" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/vykd33.avif" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="assets/vykd34.avif" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls10" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls10" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">₹399</h5>
                    <p class="card-text">Slip-On Bra With Full Coverage-Flint-Nyb113</p>
                  </div>
                </div>
              </div>
          <div class="col-md-3">
            <div class="card" style="width: 100%;">
              <div id="carouselExampleControls10" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/vykd35.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd36.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd37.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd38.avif" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls10" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls10" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">₹399</h5>
                <p class="card-text">Slip-on Bra with Full Coverage - Green NYB113</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 100%;">
              <div id="carouselExampleControls11" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/vykd39.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd40.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd41.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd42.avif" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls11" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls11" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">₹599</h5>
                <p class="card-text">Encircled with love - Italian Clay NYB169</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 100%;">
              <div id="carouselExampleControls12" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/vykd43.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd44.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd45.avif" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/vykd46.avif" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls12" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls12" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="card-body">
                <h5 class="card-title">₹599</h5>
                <p class="card-text">Encircled with Love-Rust-NYB169</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>