<div class="container-fluid main_container">
  <div class="row">
    <div class="col-md-3 FILTERS_div_main">
      <div class="FILTERS_div">
        <span class="FILTERS_Text">FILTERS</span>
        <span><button class="FILTERS_clear">Clear all</button></span>
      </div>
      <hr>
      <label for="price">Price</label><br>
      <input class="slider" type="range" min="1" max="100" value="50">
      <div class="minmaxdiv">
        <div>
          <label for="min">minimum</label><br>
          <input class="input_price" type="number" placeholder="rs.300">
        </div>
        <div>
          <label for="min">maxmum</label><br>
          <input class="input_price" type="number" placeholder="rs.1900">
        </div>
      </div>
      <hr>
      <div class="FILTERS_div">
        <span class="FILTERS_Text">Color</span>
        <span>
          <select class="selectfitter">
            <option value="1"></option>
            <option value="2">Klaus</option>
          </select></span>
      </div>
      <hr>
      <div class="FILTERS_div">
        <span class="FILTERS_Text">Type</span>
        <span><select class="selectfitter">
            <option value="1"></option>
            <option value="2">Klaus</option>
          </select></span>
      </div>
      <hr>
      <div class="FILTERS_div">
        <span class="FILTERS_Text">Style</span>
        <span>
          <select class="selectfitter">
            <option value="1"></option>
            <option value="2">Klaus</option>
          </select></span>
      </div>
      <hr>
      <div class="FILTERS_div">
        <span class="FILTERS_Text">Fit</span>
        <span><select class="selectfitter">
            <option value="1"></option>
            <option value="2">Klaus</option>
          </select></span>
      </div>
      <hr>
      <div class="FILTERS_div">
        <span class="FILTERS_Text">Design</span>
        <span><select class="selectfitter">
            <option value="1"></option>
            <option value="2">Klaus</option>
          </select></span>
      </div>
      <hr>
      <div class="FILTERS_div">
        <span class="FILTERS_Text">Size</span>
        <span><select class="selectfitter">
            <option value="1"></option>
            <option value="2">Klaus</option>
          </select></span>
      </div>
      <hr>
    </div>
    <div class="col-md-9">
      <nav class="navbar navbar-expand-lg pageLocation">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="#">Home></a>
          <a class="nav-link" href="#">Women></a>
          <a class="nav-link" href="#">Kurtas & Kurtis</a>
        </div>
      </nav>
      <div class="available_product_nav">
        <div class="available_product"><b>Kurtas & Kurtis:</b>1000 product</div>
        <div>SORT BY <select name="selectedItem">
            <option value="1">Marie</option>
            <option value="2">Klaus</option>
          </select></div>
      </div>
      <div class="row product_row">
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls01" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product01.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product02.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product03.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product04.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls01" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls01" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <a routerLink="/productdetails" style="text-decoration: none;">
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls02" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product05.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product06.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product07.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product08.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls02" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls02" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls03" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product09.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product10.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product11.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product12.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls03" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls03" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls04" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product13.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product14.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product15.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product16.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls04" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls04" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row product_row">
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls05" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product17.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product18.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product19.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product20.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls05" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls05" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls06" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product21.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product22.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product23.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product24.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls06" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls06" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls07" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product25.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product26.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product27.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product28.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls07" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls07" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls08" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product29.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product30.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product31.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product32.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls08" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls08" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row product_row">
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls09" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product33.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product34.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product35.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product36.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls09" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls09" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls10" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product37.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product38.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product39.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product40.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls10" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls10" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls11" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product41.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product42.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product43.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product44.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls11" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls11" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%;">
            <div id="carouselExampleControls12" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/kurti_product45.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product46.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product47.avif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/kurti_product48.avif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls12" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls12" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">₹699</h5>
              <p class="card-text">Women Embroidered Straight Kurta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>