        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <a href="#">
                        <img class="scroll_img_cls" src="assets/scroll_product_sale.webp" alt="">
                    </a>
                </div>
                <div class="col-md-2">
                    <a  routerLink="/womanpage">
                        <img class="scroll_img_cls" src="assets/scroll_product_women.webp" alt="">
                    </a>
                </div>
                <div class="col-md-2">
                    <a routerLink="/menpage">
                        <img class="scroll_img_cls" src="assets/scroll_product_men.webp" alt="">
                    </a>
                </div>
                <div class="col-md-2">
                    <a routerLink="/kidspage">
                        <img class="scroll_img_cls" src="assets/scroll_product_kids.webp" alt="">
                    </a>
                </div>
                <div class="col-md-2">
                    <a routerLink="/homepage">
                        <img class="scroll_img_cls" src="assets/scroll_product_home.webp" alt="">
                    </a>
                </div>
                <div class="col-md-2">
                  <a routerLink="/techpage">
                      <img class="scroll_img_cls" src="assets/scroll_product_tech.webp" alt="">
                  </a>
              </div>
            </div>
          </div>
  <div class="container-fluid">
    <div class="row offbrand_row">
      <div class="col-md-4">
        <a routerLink="/vykdpage">
          <img class="offbrand" src="assets/nykd_brand.avif" alt="">
        </a>
      </div>
      <div class="col-md-4">
        <a href="#">
          <img class="offbrand" src="assets/cider_brand.avif" alt="">
        </a>
      </div>
      <div class="col-md-4">
        <a href="#">
          <img class="offbrand" src="assets/autumn_lane_brand.avif" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row spotlight_heading_row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p class="spotlight_heading">IN THE SPOTLIGHT</p>
        <h4 style="text-align: center;">Coveted Finds This Week</h4>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3">
        <a href="#">
          <div class="card" style="width: 100%;">
            <a routerLink="/pumabrand"><img src="assets/puma_brand.avif" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Flat 50% off + Extra 5% off</h5>
              <p class="card-text">Functional atheleisure</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="card" style="width: 100%;">
            <img src="assets/uspolo_brand.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Up to 60% off</h5>
              <p class="card-text">Versatile designs for a fresh look</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="card" style="width: 100%;">
            <img src="assets/vero_moda_brand.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Up to 60% off</h5>
              <p class="card-text">Wardrobe staples</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="card" style="width: 100%;">
            <img src="assets/aldo_brand.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Min 30% off</h5>
              <p class="card-text">Keep up with seasonal styles</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row mt-5 spotlight_heading_row">
      <a href="#">
        <img style="width: 100%;" src="assets/best_sellers.gif" alt="">
      </a>
    </div>
    <div class="row spotlight_heading_row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p class="spotlight_heading">HOTTEST DISCOUNTS OF THE SEASON</p>
        <h4 style="text-align: center;">Shop from our handpicked selects</h4>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-2">
        <a href="#">
          <div class="card" style="border: none;">
            <img src="assets/kurta_sets.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Under ₹1499</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2">
        <a href="#">
          <div class="card" style="border: none;">
            <img src="assets/dresses.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Under ₹999</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2">
        <a href="#">
          <div class="card" style="border: none;">
            <img src="assets/tshirts.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Under ₹499</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2">
        <a href="#">
          <div class="card" style="border: none;">
            <img src="assets/shirt.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Under ₹999</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2">
        <a href="#">
          <div class="card" style="border: none;">
            <img src="assets/jewellery.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Under ₹499</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-2">
        <a href="#">
          <div class="card" style="border: none;">
            <img src="assets/denims.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Under ₹999</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  <div class="row spotlight_heading_row">
        <a href="#">
          <img style="width: 100%;" src="assets/express_shipping_img.webp" alt="">
        </a>
  </div>
  <div class="row spotlight_heading_row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p class="spotlight_heading">MOST LOVED BRANDS</p>
      <h4 style="text-align: center;">Brands You Can't Get Enough Of</h4>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-2">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/styli_brand.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Up to 75% off</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/skechers_brand.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Up to 40% off</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/w_brand.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Up to 70% off</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/louis_brand.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Up to 50% off</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/the_sould_store_brand.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Up to 75% off</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/rsvp_brand.avif" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Up to 50% off</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row house_fashion_heading_row" style="background-color: #F4D7D5; padding-top: 40px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p class="spotlight_heading">HOUSE OF FASHION</p>
      <h4 style="text-align: center;">With Love From Us, To You</h4>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" style="background-color: #F4D7D5;">
    <div class="col-md-2">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/exquisite_jewellery.avif" class="card-img-top" alt="...">
          <div style="background-color: #F4D7D5;" class="card-body">
            <p class="card-text">Exquisite Jewellery</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/arm_candy.avif" class="card-img-top" alt="...">
          <div style="background-color: #F4D7D5;" class="card-body">
            <p class="card-text">Arm Candy</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/dreamy_dressess.avif" class="card-img-top" alt="...">
          <div style="background-color: #F4D7D5;" class="card-body">
            <p class="card-text">Dreamy Dresses</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2">
      <a routerLink="/vykdpage">
        <div class="card" style="border: none;">
          <img src="assets/seamless_lingerie.avif" class="card-img-top" alt="...">
          <div style="background-color: #F4D7D5;" class="card-body">
            <p class="card-text">Seamless Lingerie</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/Graceful_sarees.avif" class="card-img-top" alt="...">
          <div style="background-color: #F4D7D5;" class="card-body">
            <p class="card-text">Graceful Sarees</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/sports_store.avif" class="card-img-top" alt="...">
          <div style="background-color: #F4D7D5;" class="card-body">
            <p class="card-text">Sports Store</p>
          </div>
        </div>
      </a>
    </div>
  </div>
   <div class="row house_fashion_heading_row" style=" background-color: black; padding-top: 40px;">
    <a href="#">
      <img src="assets/luxe.avif" alt="" class="luxe_img">
    </a>
  </div>
  <div class="row" style="background-color: black; padding-bottom: 35px;">
    <div class="col-md-3">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/ritu_kumar.avif" class="card-img-top" alt="...">
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/ankita.avif" class="card-img-top" alt="...">
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/payal.avif" class="card-img-top" alt="...">
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/pskids.avif" class="card-img-top" alt="...">
          </div>
      </a>
    </div>
  </div>
    <div class="row house_fashion_heading_row" style="padding-top: 40px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p class="spotlight_heading">BUYING GUIDES</p>
      <h4 style="text-align: center;">Your Style Manual</h4>
    </div>
    <div class="col-md-4"></div>
  </div>
    <div class="row">
    <div class="col-md-3">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/bedding.avif" class="card-img-top" alt="...">
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/shapewear.avif" class="card-img-top" alt="...">
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/find_your_fit.avif" class="card-img-top" alt="...">
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="#">
        <div class="card" style="border: none;">
          <img src="assets/find_your_libgerie.avif" class="card-img-top" alt="...">
          </div>
      </a>
    </div>
  </div>
  </div>
