<app-carasole></app-carasole>
<div class="container-fluid">
    <div class="row offbrand_row">
      <div class="col-md-4">
        <a href="#">
          <img class="offbrand" src="assets/Best-Selling-Air-Conditioners.avif" alt="">
        </a>
      </div>
      <div class="col-md-4">
        <a href="#">
          <img class="offbrand" src="assets/Letest-Televisions.avif" alt="">
        </a>
      </div>
      <div class="col-md-4">
        <a href="#">
          <img class="offbrand" src="assets/Everyday-Small-Appliances.avif" alt="">
        </a>
      </div>
    </div>
      <div class="row spotlight_heading_row">
        <a href="#">
          <img style="width: 100%;" src="assets/express_shipping_img.webp" alt="">
        </a>
  </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Laptops</div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/laptops01.webp" alt="">
            <p class="typepruduct">Chromebook</p>
            <p class="pricerang">From ₹9,990</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/laptops02.webp" alt="">
            <p class="typepruduct">Core i5 Laptops</p>
            <p class="pricerang">From ₹29,990</p>
          </a>
        </div>
        <div class="col-md-2">
            <a href="#">
              <img class="charcter_shop" src="assets/laptops03.webp" alt="">
              <p class="typepruduct">Top Deals on Laptops</p>
            <p class="pricerang">From ₹8,990</p>
            </a>
          </div>
          <div class="col-md-2">
            <a href="#">
              <img class="charcter_shop" src="assets/laptops04.webp" alt="">
              <p class="typepruduct">Premium Laptops</p>
            <p class="pricerang">From ₹47,990*</p>
            </a>
          </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/laptops05.webp" alt="">
            <p class="typepruduct">Thin and Light Laptops</p>
            <p class="pricerang">From ₹8,990</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/laptops06.webp" alt="">
            <p class="typepruduct">Core i3 Laptops</p>
            <p class="pricerang">From ₹22,490*</p>
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Best Of Headphones & Speakers</div>
        <div class="offer">Christmas Offers</div>
        
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Headphones_and_Speaker01.webp" alt="">
            <p class="typepruduct">Top Soundbars</p>
            <p class="pricerang">JBL, boAt & more</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Headphones_and_Speaker02.webp" alt="">
            <p class="typepruduct">Best Selling Mobile Speakers</p>
            <p class="pricerang">Sony, boAt & more</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Headphones_and_Speaker03.webp" alt="">
            <p class="typepruduct">Best Selling Home Theaters</p>
            <p class="pricerang">Sony, boAt & more</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Headphones_and_Speaker04.webp" alt="">
            <p class="typepruduct">Best Truewireless Headphones</p>
            <p class="pricerang">boAt, Oneplus & more</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Headphones_and_Speaker05.webp" alt="">
            <p class="typepruduct">Top ANC Headphones</p>
            <p class="pricerang">Sony, Bose & more</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Headphones_and_Speaker06.webp" alt="">
            <p class="typepruduct">Best Of Bluetooth Headphones</p>
            <p class="pricerang">boAt, MIVI & more</p>
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">ITPeripherals</div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/ITPeripherals01.webp" alt="">
            <p class="typepruduct">Top Projectors</p>
            <p class="pricerang">From ₹4,949*</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/ITPeripherals02.webp" alt="">
            <p class="typepruduct">Laser Printers</p>
            <p class="pricerang">From ₹10,549</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/ITPeripherals03.webp" alt="">
            <p class="typepruduct">Office Stationaries</p>
            <p class="pricerang">From ₹599</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/ITPeripherals04.webp" alt="">
            <p class="typepruduct">Curved Monitors</p>
            <p class="pricerang">From ₹6,879*</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/ITPeripherals05.webp" alt="">
            <p class="typepruduct">Ink Tank Printers</p>
            <p class="pricerang">From ₹7,019*</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/ITPeripherals06.webp" alt="">
            <p class="typepruduct">Premium Monitors</p>
            <p class="pricerang">From ₹7,649*</p>
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Bestselling Tablets</div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_Tablets.webp" alt="">
            <p class="typepruduct">SAMSUNG Galaxy Tab S7</p>
            <p class="pricerang">Just ₹39,999*</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_Tablets02.webp" alt="">
            <p class="typepruduct">Oppo Pad Air</p>
            <p class="pricerang">Just ₹12,149*</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_Tablets03.webp" alt="">
            <p class="typepruduct">realme Pad 2</p>
            <p class="pricerang">From ₹15,499*</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_Tablets04.webp" alt="">
            <p class="typepruduct">iPad 9th Gen</p>
            <p class="pricerang">Just ₹19,999*</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_Tablets05.webp" alt="">
            <p class="typepruduct">Samsung S7 FE</p>
            <p class="pricerang">Just ₹33,999*</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_Tablets06.webp" alt="">
            <p class="typepruduct">Samsung A8 4/64 LTE</p>
            <p class="pricerang">From ₹13,499*</p>
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Computer Accessories</div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Computer_Accessories01.webp" alt="">
            <p class="typepruduct">Graphis Card</p>
            <p class="pricerang">Just ₹39,999*</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Computer_Accessories02.webp" alt="">
            <p class="typepruduct">Lumination laptops</p>
            <p class="pricerang">Just ₹149*</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Computer_Accessories03.webp" alt="">
            <p class="typepruduct">Top Deals on Optical Mouse</p>
            <p class="pricerang">From ₹99/-</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Computer_Accessories04.webp" alt="">
            <p class="typepruduct">Keyboard's By Zoook></p>
            <p class="pricerang">From ₹499/-</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Computer_Accessories05.webp" alt="">
            <p class="typepruduct">LUMINOUS LB600PRO 600VA UPS -PRO UPS</p>
            <p class="pricerang">Up 50% Off</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Computer_Accessories06.webp" alt="">
            <p class="typepruduct">Top Picks In Webcams</p>
            <p class="pricerang">From ₹1,310</p>
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Best Selling PowerBanks</div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_powerbanks01.webp" alt="">
            <p class="typepruduct">Belkin Powerbanks</p>
            <p class="pricerang">Up to 51% Off</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_powerbanks02.webp" alt="">
            <p class="typepruduct">ORAIMO Powerbanks</p>
            <p class="pricerang">From ₹699</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_powerbanks03.webp" alt="">
            <p class="typepruduct">Callmate PowerBanks</p>
            <p class="pricerang">From ₹379</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_powerbanks04.webp" alt="">
            <p class="typepruduct">Intex PowerBanks</p>
            <p class="pricerang">From ₹699</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_powerbanks05.webp" alt="">
            <p class="typepruduct">ZEBRONICS PowerBanks</p>
            <p class="pricerang">From ₹999</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="headphoneimg" src="assets/Bestselling_powerbanks06.webp" alt="">
            <p class="typepruduct">Ambrane Powerbanks</p>
            <p class="pricerang">From ₹779</p>
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">New at FShop</div>
        <div class="col-md-6 Max_Style_Min_Price_left">
          <a href="#">
            <img class="latest_product" src="assets/Watch_se.webp" alt="">
          </a>
        </div>
        <div class="col-md-6 Max_Style_Min_Price_right">
          <a href="#">
            <img class="latest_product" src="assets/xiaomi.webp" alt="">
          </a>
        </div>
      </div>
  </div>

