.nav-link
{
    font-weight: 600;
    margin-left: 15px;
    font-size: 17px;
}
nav
{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    padding: 12px 28px;
    box-sizing: border-box;
    z-index: 99999;
    max-width: var(--lg-max-width);
}