<app-carasole></app-carasole>
<div class="container-fluid">
    <div class="row offbrand_row">
      <div class="col-md-12">
        <a href="#">
          <img class="offbrand" src="assets/Clearance_Sale.gif" alt="">
        </a>
      </div>
    </div>
    <div class="row charcter_shop_row">
        <div class="type_of_product">Charcter Shop</div>
        <div class="col-md-12">
          <a href="#">
            <img class="charcter_shop" src="assets/Charcter_shop_img_men.jpeg" alt="">
          </a>
        </div>
      </div>
      <div class="row spotlight_heading_row">
        <a href="#">
          <img style="width: 100%;" src="assets/express_shipping_img.webp" alt="">
        </a>
  </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Shop By Dept</div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept_men01.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept_men02.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept_men03.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept_men04.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept_men05.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept_men06.png" alt="">
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Denim Zone</div>
        <div class="col-md-12">
          <a href="#">
            <img class="charcter_shop" src="assets/Denim_men_Fit.jpeg" alt="">
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Max Style. Min Price</div>
        <div class="col-md-6 Max_Style_Min_Price_left">
          <a href="#">
            <img class="charcter_shop" src="assets/Max_Style_Min_Price_Men01.png" alt="">
          </a>
        </div>
        <div class="col-md-6 Max_Style_Min_Price_right">
          <a href="#">
            <img class="charcter_shop" src="assets/Max_Style_Min_Price_Men02.png" alt="">
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="col-md-6 Max_Style_Min_Price_left">
          <a href="#">
            <img class="charcter_shop" src="assets/Max_Style_Min_Price_Men03.png" alt="">
          </a>
        </div>
        <div class="col-md-6 Max_Style_Min_Price_right">
          <a href="#">
            <img class="charcter_shop" src="assets/Max_Style_Min_Price_Men04.png" alt="">
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="col-md-6 Max_Style_Min_Price_left">
          <a href="#">
            <img class="charcter_shop" src="assets/Max_Style_Min_Price_Men05.png" alt="">
          </a>
        </div>
        <div class="col-md-6 Max_Style_Min_Price_right">
          <a href="#">
            <img class="charcter_shop" src="assets/m.png" alt="">
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Budget Store</div>
        <div class="col-md-4">
          <a href="#">
            <img class="charcter_shop" src="assets/Budget_Store_Men01.png" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#">
            <img class="charcter_shop" src="assets/Budget_Store_Men02.png" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#">
            <img class="charcter_shop" src="assets/Budget_Store_Men03.png" alt="">
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">You May Also Like</div>
        <div class="col-md-6 Max_Style_Min_Price_left">
          <a routerLink="/womanpage">
            <img class="charcter_shop" src="assets/Shop_Women.png" alt="">
          </a>
        </div>
        <div class="col-md-6 Max_Style_Min_Price_right">
          <a routerLink="/kidspage">
            <img class="charcter_shop" src="assets/Shop_Kids.png" alt="">
          </a>
        </div>
      </div>
  </div>

