.offbrand
{
    width: 100%;
    padding-top: 25px;
}
.charcter_shop
{
    width: 100%;
    border-radius: 7px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.type_of_product
{
  font-size: 25px;
  text-align: center;
  font-style: oblique;
}
.spotlight_heading_row
{
    padding-top: 15px;
    padding-bottom: 15px;
}