<div class="countainer-fluid">
    <div class="row mlmr">
        <div class="col-md-12" style="margin-top: 45px;">
          <p>Women Embroidered Straight Kurta</p>
        </div>
    </div>
    <div class="row mlmr">
        <div class="col-md-8">
    <div class="row">
        <div class="col-md-6 pd">
            <img style="width: 100%; height: 100%;" src="assets/kurti_product01.avif" alt="">
        </div>
        <div class="col-md-6 pd">
            <img style="width: 100%; height: 100%;" src="assets/kurti_product02.avif" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pd">
            <img style="width: 100%; height: 100%;" src="assets/kurti_product03.avif" alt="">
        </div>
        <div class="col-md-6 pd">
            <img style="width: 100%; height: 100%;" src="assets/kurti_product04.avif" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pd">
            <img style="width: 100%; height: 100%;" src="assets/kurti_product49.avif" alt="">
        </div>
        <div class="col-md-6 pd">
            <img style="width: 100%; height: 100%;" src="assets/kurti_product50.avif" alt="">
        </div>
    </div>
        </div>
        <div class="col-md-4">
            <h4 style="color: brown;">Rs.666 <span style="font-size: 15px;color: rgb(107, 104, 104);">Inclusive of all taxes</span></h4>
        <div class="row">
            <div class="col-md-6" style="border-right: 1px solid rgb(100, 96, 96);">
                <a href="#" style="font-size: 13px;">Free shipping on MaxFashion orders above INR 999</a>
            </div>
            <div class="col-md-6">
               <span class="earnpointlogo"></span> Earn 3 Points
                </div>        
        </div><hr>
        <div class="row">
            <div class="col-md-12" style="font-weight: 700;">Offers & Discounts</div>
        </div>
        <div class="row" style="margin: 0px;">
            <div class="col-md-12" style="border: 1px dotted;margin-top: 10px;">
               <h5>Promotion Offers</h5>
                <p>FLAT 400 Off on Rs.1999 & above, code-</p>
                <p>FEST400 | App Exclusive- Extra 150 Off on</p>
                <p>Rs.999 & above (valid on first order), code-</p>
                <p>APP150</p>
            </div>
        </div><hr>
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg pageLocation">
                    <div class="navbar-nav">
                       <span class="colorbtn">Color:</span><button class="colorbtn red"></button>
                       <button class="colorbtn blue" ></button>
                       <button class="colorbtn yellow"></button>
                       <button class="colorbtn black"></button>
                    </div>
                </nav>
            </div>
        </div><hr>
        <div class="row">
            <div class="col-md-12">
                <label for="text">Size:</label>
                <nav class="navbar navbar-expand-lg pageLocation">
                    <div class="navbar-nav">
                        <button class="sizebtn">S</button>
                       <button class="sizebtn" >M</button>
                       <button class="sizebtn">L</button>
                       <button class="sizebtn">XL</button>
                       <button class="sizebtn">XXL</button>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-12">
                <button class="addtobasketbtn">ADD TO BASKET</button>
            </div>
        </div><hr>
        <div class="row">
            <div class="col-md-6" style="border-right: 1px solid rgb(100, 96, 96);">
                <a class="addfavshare" href="#" style="font-size: 13px;">Add To Favourites</a>
            </div>
            <div class="col-md-6">
              <a class="addfavshare" href="#">Share</a>
                </div>        
        </div><hr>
        <div class="row">
            <div class="col-md-12">
                <h6 style="margin: 0px;"><i class="fa fa-archive" style="font-size:16px;margin-right: 5px;"></i>Click & Collect</h6>
                <p>Order this product now and collect it from a store of your choice <a class="learnmore" href="#">learn More</a></p>
                <h6 style="margin-bottom: 15px;"><i class="fa fa-arrow-left" style="font-size:16px;margin-right: 5px;"></i>15 days return policy (conditions apply) <a class="learnmore" href="#">learn More</a></h6>
                <h6 style="margin: 0px;"><i class="fa fa-calendar" style="font-size:16px;margin-right: 5px;"></i>Pay in installments</h6>
                <p>Pay in easy installments on orders of ₹ 3,000 or more. Available for select banks.<a href="#">Learn More</a></p>
                <h6 style="margin-bottom: 15px;"><i class="fa fa-truck" style="font-size:16px;margin-right: 5px;"></i>When will I receive my order?</h6>
                <input type="text" placeholder="Enter your pincode" class="pincodeinput"><button class="checkbtn">Check</button>
            </div>
        </div><hr>
        <div class="row">
            <div class="col-md-12">
                <h6>Overview</h6>
                <p style="font-size: 13px;">Dress up in this straight kurta with an adorable embroidered design on the yoke, a round neck, a button placket, three-quarter sleeves, and a knee-length construction. Pair this kurta with palazzos and sandals for an elegant look.</p>
                <ul>
                    <li>Net Quantity : 1 Number</li>
                    <li>Product : Kurta</li>
                    <li>Type : Straight</li>
                    <li>Design : Embroidered</li>
                    <li>Neckline : Round Neck</li>
                    <li>Length : Knee-Length</li>
                    <li>Sleeve Length : 3/4th Sleeves</li>
                    <li>Fabric : Cotton</li>
                    <li>Care Instructions : Machine Wash</li>
                    <li>Model Wears : Size S,has Height 5'7",Chest 33",and Waist 28"</li>
                    <li>Country of Origin : India</li>
                    <li>Manufactured By : Lifestyle Int Pvt Ltd, 77 Degree Town Centre, Building No. 3, West Wing, Off HAL Airport Road, Yamlur, Bangalore-560037, Karnataka.</li>
                    <li>For Consumer Complaints Contact : Manager Commercial,77 Degree Town Centre, Building No. 3, West Wing, Off HAL Airport Road, Yamlur PO., Bangalore-560037, Phone: 1800-123-1444, help.in@maxfashion.com</li>
                </ul>
            </div>
        </div><hr>
    </div>
    </div>
    <div class="row charcter_shop_row mlmr">
        <div class="type_of_product">You may also like</div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept01.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept02.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept03.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept04.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept05.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept06.png" alt="">
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row mlmr">
        <div class="type_of_product">Customers Also Viewed</div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept01.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept02.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept03.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept04.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept05.png" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/Shop_By_Dept06.png" alt="">
          </a>
        </div>
      </div>
</div>