<app-carasole></app-carasole>
<div class="container-fluid">
    <div class="row offbrand_row">
      <div class="col-md-12">
        <a href="#">
          <img class="offbrand" src="assets/woman_offer_img.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="row charcter_shop_row">
        <div class="type_of_product">From Tots To Teens</div>
        <div class="col-md-12">
          <a href="#">
            <img class="charcter_shop" src="assets/From_Tots_to_Teens.avif" alt="">
          </a>
        </div>
      </div>
      <div class="row spotlight_heading_row">
        <a href="#">
          <img style="width: 100%;" src="assets/express_shipping_img.webp" alt="">
        </a>
  </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Sunshine Styles</div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids01.avif" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids02.avif" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids03.avif" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids04.avif" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids05.avif" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids06.avif" alt="">
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids07.avif" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids08.avif" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids09.avif" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids10.avif" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids11.avif" alt="">
          </a>
        </div>
        <div class="col-md-2">
          <a href="#">
            <img class="charcter_shop" src="assets/sunsine_kids12.avif" alt="">
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Tranding Product</div>
        <div class="col-md-4">
          <a href="#">
            <img class="charcter_shop" src="assets/Tranding_Product01.avif" alt="">
          </a>
        </div>
        <div class="col-md-4">
            <a href="#">
              <img class="charcter_shop" src="assets/Tranding_Product02.avif" alt="">
            </a>
          </div>
          <div class="col-md-4">
            <a href="#">
              <img class="charcter_shop" src="assets/Tranding_Product03.avif" alt="">
            </a>
          </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Just Right For Junior</div>
        <div class="col-md-3 Max_Style_Min_Price_left">
          <a href="#">
            <img class="charcter_shop" src="assets/Just_Right_for_Junior01.avif" alt="">
          </a>
        </div>
        <div class="col-md-3 Max_Style_Min_Price_right">
          <a href="#">
            <img class="charcter_shop" src="assets/Just_Right_for_Junior02.avif" alt="">
          </a>
        </div>
        <div class="col-md-3 Max_Style_Min_Price_left">
            <a href="#">
              <img class="charcter_shop" src="assets/Just_Right_for_Junior03.avif" alt="">
            </a>
          </div>
          <div class="col-md-3 Max_Style_Min_Price_right">
            <a href="#">
              <img class="charcter_shop" src="assets/Just_Right_for_Junior04.avif" alt="">
            </a>
          </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Hop,Skip,Jump</div>
        <div class="col-md-3 Max_Style_Min_Price_left">
          <a href="#">
            <img class="charcter_shop" src="assets/Hop_Skip_Jump01.avif" alt="">
          </a>
        </div>
        <div class="col-md-3 Max_Style_Min_Price_right">
          <a href="#">
            <img class="charcter_shop" src="assets/Hop_Skip_Jump02.avif" alt="">
          </a>
        </div>
        <div class="col-md-3 Max_Style_Min_Price_left">
            <a href="#">
              <img class="charcter_shop" src="assets/Hop_Skip_Jump03.avif" alt="">
            </a>
          </div>
          <div class="col-md-3 Max_Style_Min_Price_right">
            <a href="#">
              <img class="charcter_shop" src="assets/Hop_Skip_Jump04.avif" alt="">
            </a>
          </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">More Fun Awaits</div>
        <div class="col-md-3 Max_Style_Min_Price_left">
          <a href="#">
            <img class="charcter_shop" src="assets/more_or_fun01.avif" alt="">
          </a>
        </div>
        <div class="col-md-3 Max_Style_Min_Price_right">
          <a href="#">
            <img class="charcter_shop" src="assets/more_or_fun02.avif" alt="">
          </a>
        </div>
        <div class="col-md-3 Max_Style_Min_Price_left">
            <a href="#">
              <img class="charcter_shop" src="assets/more_or_fun03.avif" alt="">
            </a>
          </div>
          <div class="col-md-3 Max_Style_Min_Price_right">
            <a href="#">
              <img class="charcter_shop" src="assets/more_or_fun04.avif" alt="">
            </a>
          </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="type_of_product">Bundles Joy</div>
        <div class="col-md-4">
          <a href="#">
            <img class="charcter_shop" src="assets/Bundles_of_Joy01.avif" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#">
            <img class="charcter_shop" src="assets/Bundles_of_Joy01.avif" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#">
            <img class="charcter_shop" src="assets/Bundles_of_Joy01.avif" alt="">
          </a>
        </div>
      </div>
      <div class="row charcter_shop_row">
        <div class="col-md-12 Max_Style_Min_Price_left">
          <a href="#">
            <img class="charcter_shop" src="assets/fun_Playday.avif" alt="">
          </a>
        </div>
      </div>
  </div>


